<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Assistente para Concursos</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2>Assistente para Concursos</h2>
  <p>Aqui estará a interface do assistente para concursos.</p>
  <p><a href="/">Voltar</a></p>
</body>
</html>
